<%= form_for @event, url: {action: 'create'} do |f| %>

<div>
  <%= f.label "title" %><br>
  <%= f.text_field "title" %>
</div>

<div>
  <%= f.select :time, options_for_select(
    [
      ['hour'],
      ['1',1],
      ['2',2],
      ['3',3],
      ['4',4],
      ['5',5],
      ['6',6],
      ['7',7],
      ['8',8],
      ['9',9],
      ['10',10],
      ['11',11],
      ['12',12],
    ]
      ) %>
    <%= f.select :time, options_for_select(
    [
      ['minute'],
      ['00',00],
      ['15',15],
      ['30',30],
      ['45',45]
    ]
      ) %>
    <%= f.select :time, options_for_select(
    [
      ['pm',12],
      ['am',0]
    ]
      ) %>


<%= f.submit "Submit" %>
<% end %>




<form class method="post" action="/events/create">
 <!--method="POST" action="/login"-->
  <div>
    <div><br><h1>STEP 1:<br><h2>Event Name & Time</h2></h1><br></div><br>
    <label for="name" class="sr-only">Event Name</label>
    <input type="text" name="title" value="" class="form-control" autocomplete="off" placeholder="Event Name... e.g. Party at Emily's!" require autofocus>
    <br>
    <!-- <h2>Event Time</h2> -->

    <div>
       <select name="hour" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
          <option>Hour</option>
          <option name="hour" value="1">1</option>
          <option name="hour" value="2">2</option>
          <option name="hour" value="3">3</option>
          <option name="hour" value="4">4</option>
          <option name="hour" value="5">5</option>
          <option name="hour" value="6">6</option>
          <option name="hour" value="7">7</option>
          <option name="hour" value="8">8</option>
          <option name="hour" value="9">9</option>
          <option name="hour" value="10">10</option>
          <option name="hour" value="11">11</option>
          <option name="hour" value="12">12</option>
       </select>
       <select name="minutes" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
          <option>Minutes</option>
          <option name="minutes" value="0">00</option>
          <option name="minutes" value="15">15</option>
          <option name="minutes" value="30">30</option>
          <option name="minutes" value="45">45</option>
       </select>
       <select name="am_pm" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
          <option name="am_pm" value="0">AM</option>
          <option name="am_pm" value="12">PM</option>
       </select>  
       <input class="btn btn-lg btn-success" type="submit" value="Continue">
    </div>
  
<!--     <a class="btn btn-lg btn-primary btn-block" href="/events/[:event_id]/venues"> Continue </a> -->
  </div>
</form>


